.todo {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/

    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: auto;*/
    padding-top: 50px;
    margin-left: 41%;
}

.todoUl {
    list-style: none;
    padding-inline-start: 0px;
    display: block;

}
.inputAndbutton {

    padding: 10px 0px 0px 0px;
}

#enter {
    width: auto;
    color: white;
    background-color: #549b56;
    border-color: #549b56;
    border-radius: 4px;

}

#enter:hover {
    cursor: pointer;
    background-color: darkgreen;
    border-color: darkgreen;

}

.delete {
    border: none;
    background-color: transparent;
}

.delete:hover {
    cursor: pointer;
    color: #8c0202;
}


li.todoList {
    padding: 0px 0px;

}

.done {
    text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }
    .todo {
        margin-left: 36%;
    }
}